@import "../../global.scss";

.settings-page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100%;
  margin-top: 100px;

  .page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    min-width: 100%;
    height: fit-content;
    padding: 15px 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    backdrop-filter: blur(12px);
    z-index: 10;
    transition: all ease 0.35s;
    margin-bottom: 25px;

    .settings-page-header {
      font-size: 30px;
      font-weight: 700;
      text-align: left;
      position: relative;
      width: fit-content;
      display: flex;
      align-items: baseline;
      justify-content: center;

      .section-header-subtext {
        font-weight: 300;
        font-size: 20px;
        margin-left: 10px;
      }
    }
  }

  .settings-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    width: 80%;
    max-width: 600px;

    @include mobile {
      max-width: 90vw;
      width: unset;
    }

    .settings-section {
      letter-spacing: 0.1px;

      .settings-section-header-container {
        width: 100%;
        text-align: left;

        .settings-section-header {
          font-size: 24px;
          font-weight: 700;
          text-align: left;
          position: relative;
          width: fit-content;
          display: flex;
          align-items: baseline;
          justify-content: center;

          .section-header-subtext {
            font-weight: 300;
            font-size: 20px;
            margin-left: 10px;
          }
        }
      }

      .settings-section-item-container {
        display: flex;
        flex-wrap: wrap;

        @include mobile {
          margin-bottom: 22px;
        }

        .settings-section-item {
          display: flex;
          flex-direction: column;
          text-align: left;
          padding: 0px 0px 15px 20px;

          @include mobile {
            padding: 0px 2px;
          }

          .settings-button {
            border-radius: 20px;
            padding: 5px 12px;
            margin: 5px;
            border: 2px solid;
            text-decoration: none;
            transition: all ease 0.12s;
            font-weight: 500;
            cursor: pointer;
          }

          .settings-section-item-detail {
            padding: 10px 0px 0px 20px;
            display: flex;

            .item-arrow {
              margin-right: 7px;
            }

            &.sub-detail {
              padding: 10px 0px 0px 50px;
            }
          }
        }
      }

      &.logout {
        border-top: solid 2px grey;
        width: 100%;
        margin-top: 20px;
        .settings-section-item-container {
          align-items: center;
          justify-content: center;
          .settings-section-item {
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 20px;
          }
        }
      }
    }
  }
}
